@model List<TrekStories.Models.ActivityThreadViewModel>

@{
    bool disabled = ViewBag.HideActions == "hidden";
}

    <div class="activity-thread">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-2">
                    @item.StartTime.ToShortTimeString()
                </div>
                <div class="col-xs-10">
                    <span class="icon @item.Icon"></span>
                    @if (disabled)
                    {
                        <a href="" class="isDisabled">@item.Name</a>
                    }
                    else
                    {
                        @Html.ActionLink(item.Name, "Details", item.Controller, new { id = item.ID }, null) 
                    }
                    &nbsp; &nbsp;<small>(@string.Format("{0:C}", item.Price))</small> <br />
                    @if (item.ArrivalTime.HasValue)
                    {
                        <span><em>Arriving at @item.ArrivalTime.Value.ToShortTimeString()</em></span>
                    }
                </div>
            }
        </div>
    </div>