<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script type='text/javascript'>
    $(function(){
        $('.date-picker').datepicker(
            { dateFormat: 'dd/mm/yy'}
        );
        @if (ViewBag.Title == "EditTrip")
        {
        <text>$(".date-picker").datepicker("setDate", '@Model.StartDate');</text>
        }
        $('.time-picker').timepicker(
            {
                timeFormat: 'h:i A',
                scrollDefault: 'now'
            }
        );
        @*@if (ViewBag.Title == "EditLeisure" || ViewBag.Title == "EditTransport")
        {
        <text>$(".time-picker").timepicker("setTime", '@Model.StartTime');</text>
        }*@
        $('input[type="time"]').attr('type', 'text');  //to prevent default timepicker on Edge and Chrome
    })
    </script>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="outer">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TREK STORiES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand visible-xs" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="visible-xs">@Html.ActionLink("Search", "Index", "Home")</li>
                        <li class="hidden-xs"><a href=@Url.Action("Index", "Search")><span class="glyphicon glyphicon-search big-search"></span></a></li>
                        <li>@Html.ActionLink("My Trips", "Index", "Trip")</li>
                        <li>@Html.ActionLink("Start Planning", "Create", "Trip")</li>
                    </ul>
                    @Html.ActionLink("TREK STORiES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-xs centered-brand" })
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="container">
            <ul class="text-center">
                <li>@Html.ActionLink("About", "About", "Home")</li> |
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <p>
                <span>&copy; @DateTime.Now.Year - TREK STORIES</span>
                <span class="pull-right">Site designed and developed by Carole van Damme</span>
            </p>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
