@model TrekStories.Models.Step

@{
    ViewBag.Title = "Delete";
}

<div class="mycontainer">
    <p class="error">@ViewBag.ErrorMessage</p>
    <h3>Are you sure you want to DELETE this step?</h3>
    <p class="text-danger">All activities and reviews associated with the step will be deleted too!</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Trip.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SequenceNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SequenceNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.From)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.From)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.To)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.To)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WalkingTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WalkingTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WalkingDistance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WalkingDistance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ascent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ascent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>

        @if (Model.Activities.Count() > 0)
        {
            <p>
                Including the following activities:
                <ul>
                    @{
                        foreach (var act in Model.Activities.OrderBy(a => a.StartTime))
                        {
                            <li>@act.StartTime.ToShortTimeString() - @act.Name</li>
                        }
                    }
                </ul>
            </p>
                        }

        @if (Model.Review != null)
        {
            <p>
                Including the following review:
                <ul>
                    <li>@Model.Review.Rating / 5</li>
                    <li>@Model.Review.PrivateNotes</li>
                    <li>@Model.Review.PublicNotes</li>
                </ul>
            </p>
        }

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to Trip", "Details", "Trip", new { id = Model.TripId }, null)
            </div>
        }
    </div>
</div>