@model TrekStories.Models.Step

@{
    ViewBag.Title = "Details";
}

<div class="mycontainer">
    <h4>@Model.Trip.Title - Day @Model.SequenceNo</h4>
    @*<div class="btn-group">
        @for (int i = 1; i <= ViewBag.NoStep; i++)
        {
            <a href="@Url.Action("Details", new { id = i})" class="btn btn-default">@i</a>
        }
        Wrong!! id = 1 is the problem! need to pass stepId rather! viewbag of list of stepids ordered by seq no?
    </div>*@ 
    <hr class="thick-hr"/>
    <section>
        <div class="row">
            <div class="col-md-2">
                <strong><em>Walk Details</em></strong>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.From)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.From)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.To)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.To)
                    </dd>

                    <dt>
                        Distance
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkingDistance) Km
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ascent)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Ascent) m
                    </dd>

                    <dt>
                        Time
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.WalkingTime) hours
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>
                </dl>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.StepId }) |
            @Html.ActionLink("Back to Trip", "Details", "Trip", new { id = Model.TripId}, null)
        </p>
    </section>
    <hr class="thick-hr"/>
    <section>
        <div class="row">
            <div class="col-md-2">
                <strong><em>Accommodation</em></strong>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        Name?
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Accommodation.Name)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                   
                </dl>
            </div>
        </div>
    </section>
    <hr class="thick-hr" />
    <section>
        <strong><em>Activities</em></strong>
        <div class="pull-right" id="activity-menu">
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-default" href="@Url.Action("CreateTransport", "Activities", new { stepId = Model.StepId})">Add Transport</a>
                <a class="btn btn-default" href="@Url.Action("CreateLeisure", "Activities", new { stepId = Model.StepId})">Add Leisure Activity</a>
            </div>
            <a class="rotating-button btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.Review.PrivateNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Review.PrivateNotes)
            </dd>*@
        </dl>
    </section>
</div>