@model TrekStories.Models.Step

@{
    ViewBag.Title = "Details";
}

<div class="mycontainer">
    <h2>@Model.Trip.Title</h2>
    <hr />
    <div>
        <h4>Step @Model.SequenceNo</h4>
        
        <dl class="dl-horizontal">

            @*<dt>
                @Html.DisplayNameFor(model => model.Review.PrivateNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Review.PrivateNotes)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Trip.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Trip.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.From)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.From)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.To)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.To)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WalkingTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WalkingTime) hours
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WalkingDistance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WalkingDistance) Km
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ascent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ascent) m
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                Accommodation
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accommodation.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StepId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>