@model TrekStories.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Step.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
