@model IEnumerable<TrekStories.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Step.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StepId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Step.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StepId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
        </td>
    </tr>
}

</table>
