@model IEnumerable<TrekStories.Models.Accommodation>

@{
    ViewBag.Title = "Accommodation Register";
    int totalNights = 0;
    double totalPrice = 0;
}

<div class="mycontainer">
    <h2>Accommodations for @ViewBag.TripTitle</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.TripId })
    </p>
    <table class="table table-responsive">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { tripId = ViewBag.TripId, sortOrder = ViewBag.NameSortParm }, new { style="color:#eb6864;" })
            </th>
            <th>
                @Html.ActionLink("Check-In", "Index", new { tripId = ViewBag.TripId, sortOrder = ViewBag.CheckInSortParm }, new { style = "color:#eb6864;" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                No of Nights
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            totalNights += item.GetDatesBetweenInAndOut().Count;
            totalPrice += item.Price;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @item.GetDatesBetweenInAndOut().Count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccommodationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AccommodationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccommodationId })
                </td>
            </tr>
        }
        <tr bgcolor="#e2ebea">
            <td>Total:</td>
            <td></td>
            <td></td>
            <td>@totalNights Nights</td>
            <td></td>
            <td>@string.Format("{0:C}", totalPrice)</td>
        </tr>
    </table>
</div>