@model TrekStories.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWalkingDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWalkingDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Steps)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>From</th>
                    <th>To</th>
                </tr>
                @foreach (var item in Model.Steps)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
