@model TrekStories.Models.Trip

@{
    ViewBag.Title = "Details";
    string trClass = ViewBag.HideActions ? "hidden" : "";
}

<div class="mycontainer">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
                <div class="col-sm-4 hidden-xs">
                    <img src="~/Images/@(Model.TripCategory).jpg" alt="Trip Picture" class="img-thumbnail">
                </div>
                <div class="col-sm-8 col-xs-12">
                    <h3>@Model.Title</h3>
                    <p>
                        @(Model.TotalWalkingDistance) Km in <em>@Model.Country</em><br />
                        @Model.Duration  Day(s) <span class="@trClass">starting on <strong>@Model.StartDate.ToLongDateString()</strong></span><br />
                        Budget: <span class="site-colour">@string.Format("{0:C}", Model.TotalCost)</span><br />
                        <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#notescontent">Notes</button>
                        <div id="notescontent" class="collapse">
                            @Model.Notes
                        </div>
                    </p>
                    <p class="text-right">
                        <a href="@Url.Action("Edit", new { id = Model.TripId })" class="@trClass btn btn-sm btn-trekstories">
                            <span class="fas fa-pen mytooltip">
                                <span class="mytooltiptext">Edit Trip Details</span>
                            </span>
                        </a>
                        &emsp;
                        <a href="@Url.Action("GetSummaryReport", new { id = Model.TripId })" class="btn btn-sm btn-trekstories">
                            <span class="fas fa-file-download mytooltip">
                                <span class="mytooltiptext">Get Summary Report</span>
                            </span>
                        </a>
                        &emsp;
                        <a href="@Url.Action("GetSouvenirReport", new { id = Model.TripId })" class="@trClass btn btn-sm btn-trekstories">
                            <span class="fas fa-file-image mytooltip">
                                <span class="mytooltiptext">Get Souvenir Report</span>
                            </span>
                        </a>
                    </p>
                </div>
        </div> @*end panel heading*@
        <div class="panel-body">
            <a class="@trClass btn btn-success btn-xs first-add-step-btn" href="@Url.Action("Create", "Step", new { tripId = Model.TripId, seqNo = 1})"
               title="Insert a Step Here">
                <span class="fas fa-plus mytooltip">
                    <span class="mytooltiptext">Insert a Step Here</span>
                </span>
            </a>
            <table class="table table-striped table-bordered table-responsive-sm tripdetailstable">
                <tbody>
                    @foreach (var item in Model.Steps.OrderBy(s => s.SequenceNo))
                    {
                    <tr>
                        <td>
                            <h5>Day @item.SequenceNo</h5>
                            <p class="@trClass">@item.Date.ToShortDateString()</p>
                            <a class="@trClass btn btn-success btn-xs add-step-btn" href="@Url.Action("Create", "Step", new { tripId = Model.TripId, seqNo = (item.SequenceNo + 1) })">
                                <span class="fas fa-plus mytooltip">
                                    <span class="mytooltiptext">Insert a Step Here</span>
                                </span>
                            </a>
                        </td>
                        <td onclick="location.href='@Url.Action("Details", "Step", new { id = item.StepId })'" class="hand-cursor">
                            <h5>From @item.From to @item.To</h5>
                            @item.WalkingDistance Km in @item.GetWalkingTime()
                        </td>
                        <td align="center" style="vertical-align:middle;" class="@trClass">
                            <a class="btn btn-trekstories btn-sm" href="@Url.Action("Edit", "Step", new { id = item.StepId})">
                                <span class="fas fa-pen mytooltip">
                                    <span class="mytooltiptext">Edit Step</span>
                                </span>
                            </a>
                            &emsp;
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Step", new { id = item.StepId})">
                                <span class="fas fa-trash-alt mytooltip">
                                    <span class="mytooltiptext">Delete Step</span>
                                </span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p>@Html.ActionLink("View All Trip Accommodations", "Index", "Accommodation", new { tripId = Model.TripId}, new { @class = trClass })</p>
</div> @*end of container*@