@model TrekStories.Models.Trip

@{
    ViewBag.Title = "Details";
}

<div class="mycontainer">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
                <div class="col-sm-4 hidden-xs">
                    <img src="~/Images/@(Model.TripCategory).jpg" alt="Trip Picture" class="img-thumbnail">
                </div>
                <div class="col-sm-8 col-xs-12">
                    <h3>@Model.Title</h3>
                    <p>
                        @(Model.TotalWalkingDistance) Km in <em>@Model.Country</em><br />
                        @Model.Duration  Day(s) starting on <strong>@Model.StartDate.ToLongDateString()</strong><br />
                        Budget: <span class="site-colour">@string.Format("{0:C}", Model.TotalCost)</span><br />
                        <button type="button" class="btn btn-info btn-xs" data-toggle="collapse" data-target="#notescontent">Notes</button>
                        <div id="notescontent" class="collapse">
                            @Model.Notes
                        </div>
                        <a href="@Url.Action("Edit", new { id = Model.TripId })" class="btn btn-default pull-right">
                            <span class="glyphicon glyphicon-edit mytooltip">
                                <span class="mytooltiptext">Edit Trip Details</span>
                            </span>
                        </a>
                    </p>
                </div>
        </div> @*end panel heading*@
        <div class="panel-body">
            <a class="btn btn-success btn-xs first-add-step-btn" href="@Url.Action("Create", "Step", new { tripId = Model.TripId, seqNo = 1})"
               title="Insert a Step Here">
                <em class="glyphicon glyphicon-plus"></em>
            </a>
            <table class="table table-striped table-bordered @*table-responsive-sm*@ tripdetailstable">
                <tbody>
                    @foreach (var item in Model.Steps.OrderBy(s => s.SequenceNo))
                    {
                    <tr>
                        <td>
                            <h5>Day @item.SequenceNo</h5>
                            <p>@item.Date.ToShortDateString()</p>
                            <a class="btn btn-success btn-xs add-step-btn" href="@Url.Action("Create", "Step", new { tripId = Model.TripId, seqNo = (item.SequenceNo + 1) })"
                               title="Insert a Step Here">
                                <em class="glyphicon glyphicon-plus"></em>
                            </a>
                        </td>
                        <td onclick="location.href='@Url.Action("Details", "Step", new { id = item.StepId })'" class="hand-cursor">
                            <h5>From @item.From to @item.To</h5>
                            @item.WalkingDistance Km in @item.GetWalkingTime()
                        </td>
                        <td align="center" style="vertical-align:middle;">
                            <a class="btn btn-trekstories btn-sm" href="@Url.Action("Edit", "Step", new { id = item.StepId})">
                                <em class="glyphicon glyphicon-pencil"></em></a>
                            &emsp;
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Step", new { id = item.StepId})">
                                <em class="glyphicon glyphicon-trash"></em></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p>@Html.ActionLink("Re-Order All Steps", "ReorderSteps", "Step") |
    @Html.ActionLink("View All Trip Accommodations", "Index", "Accommodation", new { tripId = Model.TripId}, null)</p>
</div> @*end of container*@